#nav {
    background:linear-gradient(#000 40%, #0000);
    padding: 6px;
}
#nav * {
    text-shadow:1.5px 1px 2px black;
    margin-inline-start: 5%;
}

#nav ul {
    overflow:hidden;
    list-style:none;
    padding:0px;
}

#nav ul li{
    float: left;
    margin-right: 40px;
    font-size: 18px; 
}

#nav h1{
    border-bottom: #fffcf6 1px solid;
}



#nav ul li a:hover{
    text-shadow:1px 1px 1px #fffcf6;
}

a {
    color: #fffcf6;
    text-decoration:none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-size:cover;
    color:#fffcf6;
    margin:0px;
}

#instalaciones {
    margin: 50px 6% 10px;
    background-color:#000
}

#instalaciones h1{
    text-align: center;
}
#calentamiento {
    display:inline;
}
#calentamiento img {
    clear:left;
    max-width: 50%;
    margin: 5px 30px;
}

#calentamiento h2{
    display:inline-flexbox;
}

#cardio {
    float:right;
}
